.spinner {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-top-color: currentColor;
  border-left-color: currentColor;

  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner-sm {
  width: 16px;
  height: 16px;
  border-width: 2px;
}
.spinner-md {
  width: 24px;
  height: 24px;
  border-width: 2px;
}
.spinner-lg {
  width: 40px;
  height: 40px;
  border-width: 3px;
}

.spinner-primary {
  color: var(--color-primary);
}
.spinner-white {
  color: var(--color-text-light);
}
